.chat-button,
.menu-icon,
.nav-item {
  cursor: pointer;
}
nav {
  width: 100%;
  top: 0;
  min-height: 100px;
  background: linear-gradient(
    to top,
    var(--bg-rgb-half) 0,
    var(--bg-rgb-full) 100%
  );
  flex-wrap: nowrap;
  justify-content: center;
  backdrop-filter: blur(10px);
  z-index: 3;
}
#airzy,
#s2 h2,
.nav-item,
.small-p,
.social-medias .fa {
  text-align: center;
}
#airzy,
#s1 h3 {
  display: inline-block;
}
#s2,
body {
  padding: 0;
}
#s2,
.menu-icon,
.nav-item,
article button,
nav .inlineb {
  background: 0 0;
}
.menu-icon span,
.underline {
  background-color: var(--text-grey);
}
.nav-item,
.social-medias .fa {
  text-decoration: none;
}
.nav-item:hover,
article button:hover,
h1 {
  color: var(--text-normal);
}
#s1,
#side-bar,
main,
nav {
  position: fixed;
}
#s1 {
  z-index: -1;
  top: 100px;
  margin: 4%;
  pointer-events: none;
}
#s2,
#sbar-flex,
.row-flex,
.skill-container,
.txt-section,
nav {
  display: flex;
}
#s1 h3,
.image-container,
body {
  overflow: hidden;
}
:root {
  color-scheme: dark;
  --bg-col: #030303;
  --bg-rgb-full: rgba(4, 4, 4, 1);
  --bg-rgb-half: rgba(4, 4, 4, 0.3);
  --frame-bcol: #101010;
  --frame-bcol2: #1b1b1b;
  --text-grey: grey;
  --text-normal: white;
}
#toggleLightMode,
.nav-item,
.small-p,
.social-medias .fa,
.underline,
article button,
h3 {
  color: var(--text-grey);
}
body {
  margin: 0;
  background-color: var(--bg-col);
  font-family: Montserrat;
  font-size: 16px;
}
#side-bar,
nav .inlineb {
  flex-wrap: nowrap;
  display: flex;
}
.menu-icon {
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  outline: 0;
  border: none;
  padding: 10px 10px 10px 20px;
}
.menu-icon span {
  display: block;
  width: 24px;
  height: 2px;
  margin: 6px 0;
  border-radius: 2px;
  transition: transform 0.4s, box-shadow 0.4s, width 0.4s, background-color 0.4s;
}
#toggleLightMode,
article button {
  outline: 0;
  border: none;
  cursor: pointer;
}
.menu-icon:hover span {
  background-color: var(--text-normal);
  box-shadow: 0 0 20px #fff;
}
.bun1,
.bun3 {
  transition: transform 0.4s;
}
.menu-icon.active .bun2 {
  width: 2px;
  transform: translateX(11px);
}
.menu-icon.active .bun1 {
  transform: translateY(8px) rotate(-315deg);
  animation: 0.4s shrinkEffect;
}
.menu-icon.active .bun3 {
  transform: translateY(-8px) rotate(315deg);
  animation: 0.4s shrinkEffect;
}
@keyframes shrinkEffect {
  0%,
  100% {
    width: 24px;
  }
  50% {
    right: 0;
    width: 12px;
  }
}
nav .inlineb {
  width: 600px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: auto;
}
.nav-item {
  padding-right: 40px;
  padding-left: 40px;
  transition: padding-left 0.4s, padding-right 0.4s, color;
}
.underline {
  transform: translateX(-50%);
  width: 0;
  height: 1px;
  transition: width 0.2s;
  margin-left: 50%;
}
.nav-item:not(:hover) .underline {
  transition: width 0.6s;
}
.nav-item:not(:hover) {
  transition: padding-left 1s, padding-right 1s, color 1s;
}
.nav-item:hover .underline {
  background-color: var(--text-normal);
  width: 100%;
}
.nav-item:hover {
  padding-right: 50px;
  padding-left: 50px;
}
#side-bar {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transform: translateX(200%);
  right: 0;
  height: 100%;
  width: 400px;
  max-width: 80%;
  background-color: var(--bg-rgb-half);
  backdrop-filter: blur(30px);
  z-index: 1;
  padding-top: 100px;
  transition: transform 0.3s;
}
#side-bar.open {
  transform: translateX(0);
}
.small-p {
  font-size: 0.75rem;
  line-height: 1rem;
}
#sbar-flex {
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 100px;
  height: 30%;
  width: 90%;
}
main {
  padding-top: 80px;
  width: 100%;
  height: calc(100% - 80px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}
article {
  min-height: 1400px;
}
article button {
  -webkit-appearance: none;
  appearance: none;
}
h1 {
  font-size: 60px;
  font-weight: 900;
  margin: 0;
}
h3 {
  font-size: 20px;
  font-weight: 1;
}
#airzy {
  min-width: 4ch;
  color: gold;
  transition: text-shadow 1s;
}
#airzy.glow {
  text-shadow: 0 0 100px gold;
}
#s1 h3 {
  white-space: nowrap;
}
#s2 {
  margin-top: 200px;
  flex-direction: row-reverse;
}
#s2 .skill-col {
  padding-right: 20px;
  padding-left: 20px;
  height: 400px;
}
.txt-section {
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  padding: 40px;
  background: linear-gradient(
    to bottom right,
    var(--frame-bcol),
    var(--bg-col)
  );
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.txt-section p {
  max-width: 600px;
}
.txt-section.show {
  opacity: 1;
  transform: translateY(0);
}

#adapt {
  color: #daf7a6;
}
.skill-container {
  flex-direction: column;
  border-top: 1px solid var(--text-grey);
  margin-bottom: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  overflow: hidden;
  height: 0;
  transition: height 1s;
}
#s2.show .skill-container {
  height: 400px;
}
.skill-container ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.skill-container blockquote {
  position: relative;
  margin: 0;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: calc(1rem * 0.9);
  color: var(--text-grey);
}
.skill-container blockquote::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-left: 1px dotted var(--text-grey);
  margin-left: -15px;
}
@keyframes popUp {
  0% {
    transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    transform: scale(1.1) rotate(-5deg);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(0);
  }
}
.social-media-container {
  background: 0 0;
  margin-top: 0;
}
#side-bar .social-medias .fa {
  font-size: 16px;
  width: 30px;
}
.social-medias .fa:hover {
  opacity: 0.5;
}
.social-media-container .social-medias .fa {
  padding: 10px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: var(--text-normal);
}
.social-media-container.show .social-medias .fa {
  opacity: 1;
  transform: scale(0);
  animation: 0.5s ease-in-out forwards popUp;
}
#toggleLightMode {
  -webkit-appearance: none;
  appearance: none;
  appearance: none;
  background: 0 0;
  margin-top: 40px;
}
#toggleLightMode .fa {
  font-size: 14px;
}
.row-flex {
  justify-content: space-between;
  flex-wrap: wrap;
  width: min(1000px, 100%);
}
.image-container {
  min-width: 250px;
  min-height: 200px;
  width: 20%;
  height: 20%;
  border-radius: 10px;
}
.image-container img {
  width: 100%;
  height: 100%;
  transition: transform 0.4s, filter 0.4s, opacity 0.4s;
  filter: blur(2px);
  opacity: 0.4;
}
.image-container:hover img {
  transform: scale(1.2);
  filter: blur(0);
  opacity: 1;
}
.main-footer {
  margin-top: 800px;
  margin-right: 40px;
  margin-left: 40px;
}
.main-footer p {
  margin: 0;
  padding: 20px;
}
.chat-button {
  font-family: Montserrat;
  background: 0;
  outline: 0;
  border: 0;
  color: var(--text-grey);
  margin-right: 40px;
  white-space: nowrap;
}
.chat-button:hover {
  background: var(--frame-bcol);
}
.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  gap: 60px;
}
.item-list p {
  padding: 0;
}
.item-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  
  font-size: 0.9em;

  text-decoration: none;
  color: var(--text-normal);
  white-space: nowrap;
}
.item-list a {
  text-decoration: none;
  color: var(--text-normal);
  white-space: nowrap;
}
.footer-top > * {
  padding: 40px;
  min-width: 240px;
}
.footer-bottom {
  border-top: 1px dotted var(--text-grey);
}
.inner-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}
.inner-bottom a {
  text-decoration: none;
  color: var(--text-grey);
  padding: 0 20px 0 0;
  font-size: 0.9em;
  width: auto;
  white-space: nowrap;
}
.inner-bottom i {
  padding: 0;
  padding-right: 0.5em;
}
.fa.fa-comments-o {
  font-size: 1.3em;
}
.summary-button {
  list-style: none;
  cursor: pointer;
  transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.summary-button:hover {
  transform: translateX(5px);
  text-shadow: 0 0 50px rgba(255, 255, 255, 1), 0 0 40px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1)
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 40px;
  }
  h3 {
    font-size: 16px;
  }
  #s2 {
    margin-top: 300px;
  }
  .txt-section {
    margin-top: 40px;
  }
  .footer-top {
    gap: 10px;
  }
  nav .inlineb {
    display: none;
  }
  nav {
    justify-content: flex-end;
  }
  .menu-icon {
    max-width: 80px;
    width: 80px;
  }
}
