html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url('https://cdn.glitch.global/e7d904dc-3a74-4413-9bc4-72f0e1d9fa62/dark-mosaic.png?v=1722650442024');
  background-color: black;
  margin-top: 40px; /* cuz of the navigation tab thing */
  overflow-x: hidden; /* no horizontal */
}

.text-box2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  min-width: 50%;
  min-height: 50%;

  
  border: 1px solid #444444;
  background-color: rgba(10, 10, 10);
  border-radius: 5px;
  
  white-space: pre-wrap;
  color: #ffffff;
  font-family: 'Montserrat';
  padding: 40px;
  
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.line {
  padding: 0px;
  margin: 0px;
  width: 100%;
  min-height: 20px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  padding: 0px;
  font-size: 18px; /* Adjust the size of the link text */
  margin-right: 10px; /* Optional: space between link and description */
}

.desc {
  padding: 0px;
  font-size: 14px; /* Adjust the size of the description text */
  color: #aaaaaa; /* Adjust color if needed */
}
